{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page pas trouvée</h1>

    <p>
        La page que vous cherchez n'existe pas ou a été deplacée
        misspelling or <a href="{{ path('homepage') }}">revenir sur la homepage</a>.
    </p>
{% endblock %}